// Add any custom Sass & CSS here
a{
  color:#0e4061;
}
.button{
  border-radius: 3px;
  background-color: #d95552;
}
h1,h2,h3,h4,h5,h6{
  font-family: $text;
}
.right{
  text-align: right;
}
.top-bar{
  padding-left: 100px;
  padding-right: 50px;
  a{
    color: black;
    font-family: $text;
    float: right;
  }
  .button{
    background-color: transparent;
  }
}
.list{
  width:70%;
  padding: 30px;
  margin: 0 auto;
  font-family: $text;
  .setting{
    margin-top:100px;
  }
  .button{
    border-radius: 3px;
    background-color: #d95552;
  }
  header{
    text-align:center;
    font-size:80px;
  }
  .btn{
    padding: 10px;
    color:white;
    background-color: cornflowerblue;
    float: right;
  }

  .no-bullet{
    margin-top: 20px;

    .list-item{
      background-color: #e6e6e6;
      padding: 10px;
      margin: 5px;
      a{
        font-size: 20px;
        display:inline;
      }
      button{
        display: inline;
        float:right;
      }
    }
  }
}
#completed{
  left:0;
  display: none;
}
#edit{
  background-color: #22bb5b;
  margin-left:5px;
  a{
    font-size:18px;
    color:white;
  }
}
#addUser{
  text-align: right;
  width:100%;
  height:50px;
}
.pagination{
  padding:20px;
  width:50%;
  margin: 0  auto;
  height: 70px;
}
#showC{
  position: relative;
}
#filter{
  width:100%;
  float:left;
  button{
    float:left;
  }
}
input:invalid {
  border: 1px solid red;
}
button{
  border-radius: 3px;
  color:white;
  background-color: #d95552;
  float:right;
  padding:10px;
  right:10px;
  position: relative;
}
.addTask {
  margin: 0 auto;
  width:70%;
  padding: 100px;
}
/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem; }

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 118px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
  float: right;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }
}