<div ng-controller="AddUserController">
    <h2>
        Add a User
    </h2>
    <form>
        <div class="medium-6 columns">
            <label>Name</label>
            <input type="text" placeholder="Please enter your name" ng-model="name" required>

        </div>
        <div class="medium-6 columns">
            <label >Email</label>
            <input id="em" placeholder="and your email" ng-model="email"  name="em" type="email" required>

        </div>
        <button class = "button" id='subm' ng-click="post()">Add</button>
        <div>{{message}}</div>
    </form>
</div>